@media(max-width: 1199px) {
    .intro__img {
        width: 100%;
        position: relative;
        text-align: center;
    }

    .intro__wrapper {
        flex-wrap: wrap-reverse;
    }

    .intro__image {
        width: 100%;
    }

    .intro__content {
        text-align: center;
        width: 100%;
        padding-bottom: 50px;
    }

    .intro__social {
        display: block;
    }

    .about__content {
        margin-left: 0;
        padding-top: 0;
        width: 55%;
    }

    .works__item {
        width: calc(50% - 20px);
        margin-bottom: 2rem;
    }

    .works__item img {
        width: 100%;
    }

    .about__wrapper {
        padding: 0;
    }

    .courses {
        margin-bottom: 60px;
    }

    .courses__item {
        width: calc(50% - 10px);
        margin-bottom: 40px;
        text-align: center;
        padding-bottom: 0;
    }

    .courses__item img {
        width: 100%;
    }

    a.item__more {
        position: static;
        display: inline-block;
        margin-top: 40px;
    }

    .courses__more {
        text-align: center;
        margin-top: 0;
    }
}

@media(max-width: 949px) {
    .about__img {
        width: calc(50% - 10px);
    }

    .about__img img {
        max-width: 100%;
    }

    .about__content {
        width: calc(50% - 10px);
    }

    .about__title {
        text-align: center;
        font-size: 2rem;
    }

    .about__subtitle {
        text-align: center;
        font-size: 4rem;
    }
}

@media(max-width: 799px) {
    .about__wrapper {
        flex-wrap: wrap;
    }

    .about__img, .about__content {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .about__content {
        padding: 30px 0;
    }

    .about__button {
        position: static;
        margin-top: 25px;
    }
}

@media(max-width: 767px) {
    .header__logo, .footer__nav {
        display: none;
    }

    .header__nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        padding: 20px 0;
        border-bottom: solid 1px var(--black);
    }

    .nav__link {
        font-size: 1rem;
    }

    .nav__link + .nav__link {
        margin-left: .2rem;
    }

    .works__item {
        width: 100%;
    }

    .works__title {
        margin-bottom: 35px;
    }

    .about__wrapper {
        flex-wrap: wrap-reverse;
    }

    .courses__item {
        width: 100%;
    }

    .reviews__list {
        width: 100%;
    }

    .footer__social {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    .copyright {
        font-size: .5rem;
    }

    .footer__info {
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        width: 100%;
    }
}